[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/my-github-style"]
	path = themes/my-github-style
	url = git@github.com:TheRealMarcusChiu/github-style.git
